/* You can add global styles to this file, and also import other style files */

.markdown-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 300px;
    border: 1px solid black;
    position: relative;
    .textarea-container {
        border-right: dashed 1px black;
        textarea {
            font-size: 1.2em;
            width: 99%;
            height: calc(99% - 60px);
            border: none;
            resize: none;
            outline: none;
            max-height: 98%;
        }
    }
    .preview-container {
        font-family: sans-serif;
        height: calc(99% - 60px);
        width: 99%;
        font-size: 1.2em;
        padding: 1%;
        &::after {
            content: 'Preview';
            font-size: 1.2em;
            position: absolute;
            bottom: 7%;
            right: 1%;
        }
    }
}

.controls-container {
    display: grid;
    min-height: 60px;
    width: 100%;
    position: absolute;
    border: 1px solid black;
    bottom: 0;
    color: #999;
    .controls {
        min-width: 15%;
        height: 85%;
        position: absolute;
        background: rgb(224, 219, 219);
        border: 1px solid black;
        top: 5%;
        left: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        input {
            background: none;
            outline: none;
            font-size: 2em;
        }
        .bold-span {
            font-weight: bolder;
        }
        .italic-span {
            font-style: italic;
        }
        .link-span {
            text-decoration: underline;
        }
    }
}